{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skill-LMS{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    

    {% load compress %}

    {% compress css %}

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}">

    {% endcompress %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-192x192.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        #content-area {
            flex: 1; 
            display: flex;
        }
        main {
             flex-grow: 1;
             padding: 1.5rem;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-100 font-sans">

    {% include 'partials/_navbar.html' %}

    <div id="content-area" class="flex flex-grow">
        {% include 'partials/_sidebar.html' %}

        <main class="flex-grow p-6">

            {% block content %}
            {% endblock %}
        </main>
    </div>

    {% block extra_js %}{% endblock %}

    {% compress js %}
    <script src="{% static 'js/chart.umd.min.js' %}" defer></script>

    <script src="{% static 'js/utility.js' %}" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/animations.js' %}" defer></script>
    <script src="{% static 'js/forms.js' %}" defer></script>
    <script src="{% static 'js/tabs.js' %}" defer></script>  
    {% endcompress %}

</body>
</html>
